@import url('https://fonts.googleapis.com/css?family=Oxygen');
@import url('https://fonts.googleapis.com/css?family=Arimo');


body {
  font-family: 'Arimo', sans-serif;
}

.header {
  background-image: url('../img/banner.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0;
  margin: 0 auto;
  height: 500px;
  text-align: center;
  display: inline-block;
}

nav {
  text-align: center;
  display: flex;
  justify-content: center;
}

h1 {
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 62px;
  color: white;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  text-transform: uppercase;
}

a {
  color: white;
  text-decoration: none;
}

div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

section {
  width: 60%;
  margin-left: 5%;
}

h2{
  margin-bottom: 0;
}

h4 {
  margin-top: 0;
}

h2,h3 {
  text-transform: uppercase;
}

aside {
  width: 30%;
}

.right {
  list-style: none;
  font-size: 14px;
  padding-top:20px;
  padding-right: 20px;
  padding-bottom: 20px;
  text-transform: none;
}

p {
  display: inline-block;
  padding: 5px;
}

span {
  text-decoration: underline;
}

.aside-img {
  float: left;
  margin-right: 10px;
}

h6 {
  color: hsl(0, 0%, 67%);
  margin-bottom: 0;
  margin-top: 10%;
}
